<header class='navbar navbar-default navbar-static-top'>
    <nav class='container' role='navigation'>
        <div class='navbar-header'>
            {{#link-to 'index' class='navbar-brand'}}
                <span class="whitespace-nowrap">{{fa-icon 'home'}} Annotator Demo</span>
            {{/link-to}}
            <button class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
        </div>

        <ul class='nav navbar-nav navbar-left collapse navbar-collapse'>
        </ul>

        <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        </ul>
    </nav>
</header>
