<h2>Topic # {{model.id}}</h2>
<p class="lead"><strong>{{model.title}}</strong> - <small>{{model.author}}</small></p>

<div class="row">
    <div class="col-sm-6">
        <p>{{model.text}}</p>
        {{!annotate-it topic=model}}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        {{#link-to 'topics'}}Topics{{/link-to}}
    </div>
</div>
